body {
  background-color: #fff0f6;
  font-family: sans-serif;
  margin: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: #e91e63;
}

#creditos {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.map {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.semestre {
  border: 2px dashed #e91e63;
  padding: 10px;
  border-radius: 10px;
  min-width: 220px;
}

.semestre h2 {
  text-align: center;
  color: #e91e63;
  font-size: 16px;
  margin-bottom: 10px;
}

.course {
  padding: 10px 10px;
  background: #ffc0cb;
  border: 2px solid #e91e63;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
  user-select: none;
  margin-bottom: 5px;
  text-align: center;
}

.course.unlocked {
  opacity: 1;
}

.course.approved {
  background: #e91e63;
  color: white;
  opacity: 1;
}

.course.locked {
  background: #eee;
  border-color: #ccc;
  color: #aaa;
  cursor: not-allowed;
}

